* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    overflow-x: hidden; /*Todo conteúdo que passar a horizontal vai ser ignorado com esse atributo, para aparecer apenas barra vertical*/
}

/*CSS rules to specify families*/
/*font-family: 'Montserrat', sans-serif;"*/

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.topo {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}


.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    display: flex; /* por padrão o link a é inline. o display flex permite a altura do item e usar align-itens:center*/
    height: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 5px solid #000;

}

.menu li a:hover {
    border-bottom: 5px solid #b28756;
    color: #ccc; /*deixa as letras no menu cinza quando passamos o mouse*/
    /*
    border-top: 5px solid #b28756;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    */
}

.menu .ativo a{
    border-bottom: 5px solid #b28756;
    
}



.banner {
   /* height: 100vh;  100vh é o tamanho total do monitor, mas é preciso subtrair 100px que é o tamanho do manu*/
   height: calc(100vh - 100px); /*o atributo calc permite fazer operações matematica basica*/
   background-color: #333; /*primeiro coloquei um fundo cinza pra carregar antes da imagem*/
   background-image: url('../arquivos_site/complementos/bg.jpg'); /* ../ volta uma pasta*/
   background-size: cover; /*background-cover ajusta a imagem bg.jpg para tomat todo espaço*/
   background-position: center; /*background position atributo bottom faz destacar a parte inferior da imagem e center a parte central*/
   overflow: hidden; /* A propriedade Overflow de atributo hidden vai ocultar tudo que esta passando mais de uma pagina, entao nesse caso não tera barra de rolagem lateral*/ 
}

.banner .sliders {  
    width: 1000vw; /*100vw ocupa toda area width da pagina, e 100vh ocupa toda area height da pagina. Entao se colocarmos 1000vw são 10 pg laterais.*/
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block; /*o inline-bloque faz a div se comportar como atributo inline mas continua sendo um bloque, ou seja isso faz ficar uma div ao lado da outra, criando assim a barra de rolagem lateral*/
    background-color: rgba(0, 0, 0, 0.8); /* Escurecendo o banner*/
}

.banner .slidearea {
    display: flex;
    flex-direction: column; /* Altera a propriedade do Display:flex; para coluna, ou seja, para ficar o h2 abaixo do h1  */
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase; /*Vai mudar a fonte pra caixa alta(maiúscula)*/
    font-weight: bold; /* Fonte em negrito */
    font-size: 45px; /*Esse é o tamanho da fonte*/
}

.banner h1 span {
    color: #e68a20;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a {
    display: block;
    background-color: #e68a20;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none; /* Retira a linha abaixo das letras que caracteriza link */
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .pontos_slide {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .ponto{  /*Configuração dos três pontos para rolar para o lado, posteriormente será necessario usar o Javascript*/
    width: 15px;
    height: 15px;
    border: 2px solid #e68a20;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; /*para aparecer uma mãozinho quando passar o mouse em cima do ponto*/
}

.banner .ponto.acionado1{   /*E possivel usar duas classes no mesmo elemento, aqui estou preenchendo o ponto que estiver acionado, tive que usar essa nova classe para preencher apenas o ponto que estiver selecionado. Será necessário usar uma condição no javascript depois*/
    background-color: #e68a20;
}
.section_padrao{
    background-color;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padrao .section_titulo, .section_padrao .section_descricao {
    text-align: center;
    text-transform: uppercase;
}

.section_padrao .section_titulo {
    font-size: 20px;
    font-weight: 600;
}

.section_padrao .section_descricao {
    font-size: 13px;
    color: #ccc;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section_padrao .section_corpo {
    max-width: 1140px;  /*Aqui estou definindo a mesma largura maxima do menu, para padronizar todo site*/
    margin: auto;
}

.section_padrao.claro {
    background-color: #f7f7f7;
}

.section_padrao.claro .section_titulo, 
.section_padrao.claro .section_corpo {
    color: #000;
}

.section_padrao.escuro {
    background-color: #000;
}

.section_padrao.escuro .section_titulo,
.section_padrao.escuro .section_corpo {
    color: #fff;
}



/*Css da 
